@model IEnumerable<Obra.Domain.Models.FotoEmpreendimentoModel>

@await Html.PartialAsync("~/Views/Shared/HeaderPartial.cshtml")

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empreendimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeDoArquivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empreendimento.Bairro)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <img src="~/imagens/fotos/@item.NomeDoArquivo" width="50"/>
                @Html.DisplayFor(modelItem => item.NomeDoArquivo)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" title="Excluir"><i class="fa-solid fa-trash"></i></a>            
            </td>
        </tr>
}
    </tbody>
</table>
